
<h3 class="text-center"> <strong>{{action ? 'Editar' : 'Agregar'}} Autor </strong> </h3>


<form class="form-horizontal" novalidate
 (ngSubmit)="save()" [formGroup]="formGroup">
 <div class="container container-fluid">
	<fieldset>
		<div class="form-group">

			<label class="col-md-2 control-label" for="nameId">Nombres</label>
			<div class="col-md-8">
				<input class="form-control" id="nameId" type="text" required 
				formControlName="name"/>
				<span class="help-block text-danger " *ngIf="(formGroup.get('name').touched || formGroup.get('name').dirty) && formGroup.get('name').errors">
					<span *ngIf="formGroup.get('name').errors.required">El campo nombre es requerido</span>
				</span>
			</div>



		</div>

		<div class="form-group">

			<label class="col-md-2 control-label" for="lastName">Apellidos</label>
		<div class="col-md-8">
				<input class="form-control" id="lastName" type="text" required 
				formControlName="lastName"/>

				<span class="help-block text-danger" *ngIf="(formGroup.get('lastName').touched || formGroup.get('lastName').dirty) && formGroup.get('lastName').errors">
					<span *ngIf="formGroup.get('lastName').errors.required">El campo Apellidos es requerido</span>
				</span>
			</div> 
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label" for="birth">Fecha de nacimiento</label>
		<div class="col-md-8">
				<input class="form-control" id="birth" type="date" required 
				formControlName="birth"/>

				<span class="help-block text-danger" *ngIf="(formGroup.get('birth').touched || formGroup.get('birth').dirty) && formGroup.get('birth').errors">
					<span *ngIf="formGroup.get('birth').errors.required">Es obligatorio ingresar la fecha de nacimiento</span>
				</span>
			</div> 
		
		</div>

	<div class="form-group">
		<div class="col-md-4 col-md-offset-2">
			<span>
				<button class="btn btn-primary" type="submit" [disabled]="!formGroup.valid">
					Almacenar
				</button>
				<button class="btn" type="button"[routerLink]='["/author"]'>
					Cancelar
				</button>
			</span>
		</div>
	</div> 
	
</fieldset>
	</div> 
</form>
