<div class="container-fluid">
		<h4 class="text-center">
  			<strong> AUTORES </strong>
		</h4>
 		<button [routerLink] = '["/authorCreate"]'  [routerLinkActive]='["link-active"]'  class="btn btn-primary">Agregar un Autor</button>

 		<p *ngIf = "!(authors && authors.length)">
 			No hay registros 
 		</p>

 		<table class="table" *ngIf = "(authors && authors.length)" >
 			<thead>
 				<th> Nombre </th>
 				<th> Fecha de nacimiento </th>
 				<th> Acciones </th>
 			</thead>
 			<tbody>
 				<tr *ngFor ="let author of authors">
 					<td>{{author.name}} {{author.lastName}}</td>
 					<td>{{author.birth | date : 'dd-MM-yyyy'}} </td>
 					<td>
 						<button class="btn btn-primary" [routerLink] = '["/authorUpdate/"+ author.id]'       [routerLinkActive]='["link-active"]'>Editar</button>
 						<button class="btn btn-danger" (click) = "deleteAuthor(author)">Borrar</button>
 					</td>
 				</tr>
 			</tbody>
 		</table>

</div>
