<div class="container-fluid">
		<h4 class="text-center">
  			<strong> LIBROS </strong>
		</h4>
	<div class="row">
		<div class="col-md-5">
 		<button [routerLink] = '["/bookCreate"]'  [routerLinkActive]='["link-active"]'  class="btn btn-primary">Agregar un libro </button>
 		</div>
	</div>

	<div class=" row text-center" style="margin: 15px;">
		<div class="col-md-12">
			<h3>Buscador</h3>
		</div>
	</div>
	<div class="row" style="margin: 15px;" [formGroup]="formGroup">
		<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-2 control-label" for="Category">CATEGORIA</label>
					<div class="col-md-10">
						<select class="form-control"  *ngIf="categories" [value]="selectedLevel"            (change)="onChangeLevel($event.target.value)" id="Category" formControlName="categoryId" >
						<option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
						</select>
					</div>
					
				</div>
			</div>
			<div class="col-md-4">
			<div class="form-group">
					<label class="col-md-2 control-label" for="categoryId">LIBRO</label>
					<div class="col-md-10">
						<input formControlName="name" class="form-control" id="nameId" type="text" required />
					</div>
					
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
					<label class="col-md-2 control-label" for="categoryId">AUTOR</label>
					<div class="col-md-10">
						<ng-autocomplete [data]="authors"
		    				[searchKeyword]="keyword"
		    				formControlName="Author"
		    				placeHolder="Selecciona un autor"
		    				[itemTemplate]="itemTemplate"
		    				[notFoundTemplate]="notFoundTemplate"> </ng-autocomplete>
 							
							<ng-template #itemTemplate let-item>
			    			<div class="">
			      			<span > {{item.name}} {{item.lastName}}</span>
			      			</div>
			  				</ng-template>

			  				<ng-template #notFoundTemplate let-notFound>
			    				<div [innerHTML]="notFound"></div>
			  				</ng-template>
					</div>
					
			</div>
		</div>
</div>

 <button class="btn btn-info" style="margin: 5px;" (click) = "search()">Buscar</button>

 <button class="btn btn-primary" style="margin: 5px;" (click) = "clearFilter()">Limpiar filtros</button> 

 		<p *ngIf = "!(books && books.length)">
 			No hay registros 
 		</p>
 		<div class="text-center col-md-8">
 		<h3>Libros Agregados</h3>
 		<table class="table " *ngIf = "(books && books.length)" >
 			<thead>
 				<th> Nombre </th>
 				<th> ISBN </th>
 				<th> Acciones </th>
 			</thead>
 			<tbody>
 				<tr *ngFor ="let book of books">
 					<td>{{book.name}}</td>
 					<td>{{book.isbn}}</td>
 					<td>
 						<button class="btn btn-sm btn-primary" [routerLink] = '["/bookUpdate/"+ book.id]'       [routerLinkActive]='["link-active"]'>Editar</button>
 						<button class="btn btn-sm btn-danger" (click) = "deleteBook(book)">Borrar</button>
 					</td>
 				</tr>
 			</tbody>
 		</table>
 		</div>
</div>
