<div class="container-fluid">
		<h4 class="text-center">
  			<strong> CATEGORIAS </strong>
		</h4>
 		<button [routerLink] = '["/categoryCreate"]'  [routerLinkActive]='["link-active"]'  class="btn btn-primary">Agregar una categoria</button>

 		<p *ngIf = "!(categories && categories.length)">
 			No hay registros 
 		</p>

 		<table class="table" *ngIf = "(categories && categories.length)" >
 			<thead>
 				<th> Nombre </th>
 				<th> Descripcion </th>
 				<th> Acciones </th>
 			</thead>
 			<tbody>
 				<tr *ngFor ="let category of categories">
 					<td>{{category.name}}</td>
 					<td>{{category.description}} </td>
 					<td>
 						<button class="btn btn-primary" [routerLink] = '["/categoryUpdate/"+ category.id]'       [routerLinkActive]='["link-active"]'>Editar</button>
 						<button class="btn btn-danger" (click) = "deleteCategory(category)">Borrar</button>
 					</td>
 				</tr>
 			</tbody>
 		</table>

</div>
