<h3 class="text-center"> <strong>{{action ? 'Editar' : 'Agregar'}} Categoria </strong> </h3>


<form class="form-horizontal" novalidate
 (ngSubmit)="save()" [formGroup]="formGroup">
 <div class="container container-fluid">
	<fieldset>
		<div class="form-group">

			<label class="col-md-2 control-label" for="nameId">Nombre</label>
			<div class="col-md-8">
				<input class="form-control" id="nameId" type="text" required 
				formControlName="name"/>
				<span class="help-block text-danger " *ngIf="(formGroup.get('name').touched || formGroup.get('name').dirty) && formGroup.get('name').errors">
					<span *ngIf="formGroup.get('name').errors.required">El campo nombre es requerido</span>
				</span>
			</div>



		</div>

		<div class="form-group">

			<label class="col-md-2 control-label" for="description">Descripcion</label>
		<div class="col-md-8">
				<input class="form-control" id="description" type="text" required 
				formControlName="description"/>

				<span class="help-block text-danger" *ngIf="(formGroup.get('description').touched || formGroup.get('description').dirty) && formGroup.get('description').errors">
					<span *ngIf="formGroup.get('description').errors.required">El campo Descripcion es requerido</span>
				</span>
			</div> 
		</div>


	<div class="form-group">
		<div class="col-md-4 col-md-offset-2">
			<span>
				<button class="btn btn-primary" type="submit" [disabled]="!formGroup.valid">
					Almacenar
				</button>
				<button class="btn" type="button"[routerLink]='["/category"]'>
					Cancelar
				</button>
			</span>
		</div>
	</div> 
	
</fieldset>
	</div> 
</form>

