<h3 class="text-center"> <strong>{{action ? 'Editar' : 'Agregar'}} Libros </strong> </h3>


<form class="form-horizontal" novalidate
 (ngSubmit)="save()" [formGroup]="formGroup">
 <div class="container container-fluid">
	<fieldset>
		<div class=" row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="col-md-2 control-label" for="nameId">Nombre</label>
					<div class="col-md-10">
						<input class="form-control" id="nameId" type="text" required 
						formControlName="name"/>
						<span class="help-block text-danger " *ngIf="(formGroup.get('name').touched || formGroup.get('name').dirty) && formGroup.get('name').errors">
							<span *ngIf="formGroup.get('name').errors.required">El campo nombre es requerido</span>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="col-md-2 control-label" for="isbnId">ISBN</label>
					<div class="col-md-10">
						<input class="form-control" id="isbnId" type="number" required 
							formControlName="isbn"/>
						<span class="help-block text-danger " *ngIf="(formGroup.get('isbn').touched || formGroup.get('isbn').dirty) && formGroup.get('isbn').errors">
							<span *ngIf="formGroup.get('isbn').errors.required">El campo nombre es requerido</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class=" row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="col-md-2 control-label" for="Category">CATEGORIA</label>
					<div class="col-md-10">
						<select class="form-control"  *ngIf="categories" [value]="selectedLevel"            (change)="onChangeLevel($event.target.value)" formControlName="Category" id="Category" required >
						<option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
						</select>

						<span class="help-block text-danger " *ngIf="(formGroup.get('Category').touched || formGroup.get('Category').dirty) && formGroup.get('Category').errors">
						<span *ngIf="formGroup.get('Category').errors.required">El campo Categoria es requerido</span>
						</span>
					</div>
				</div>
			</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="col-md-2 control-label" for="categoryId">AUTOR</label>
					<div class="col-md-10">
						<ng-autocomplete [data]="authors"
		    				[searchKeyword]="keyword"
		    				formControlName="Author"
		  
		    				placeHolder="Selecciona un autor"
		    				[itemTemplate]="itemTemplate"
		    				[notFoundTemplate]="notFoundTemplate"> </ng-autocomplete>
 
							<ng-template #itemTemplate let-item>
			    			<div class="item">
			      			<span > {{item.name}} {{item.lastName}}</span>
      						

			      			</div>
			  				</ng-template>

			  				<ng-template #notFoundTemplate let-notFound>
			    				<div [innerHTML]="notFound"></div>
			  				</ng-template>

							<span class="help-block text-danger " *ngIf="(formGroup.get('Author').touched || formGroup.get('Author').dirty) && formGroup.get('Author').errors">
							<span *ngIf="formGroup.get('Author').errors.required">El campo Autor es requerido</span>
							</span>
					</div>
			</div>
		</div>
</div>



	<div class="form-group">
		<div class="col-md-4 col-md-offset-2">
			<span>
				<button class="btn btn-primary" type="submit" [disabled]="!formGroup.valid">
					Almacenar
				</button>
				<button class="btn" type="button"[routerLink]='["/book"]'>
					Cancelar
				</button>
			</span>
		</div>
	</div> 
	
</fieldset>
	</div> 
</form>